* {
	user-select: none;
}
.no-padd .page-content { 
	padding-top: 0 !important;
	overflow: hidden !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 30px !important;
}